@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
/* @media all and (min-width: 1280px){} */
*{
  padding:0;
  margin:0;
}
body{
  background-color:#ffffff;
  align-content: center;
  /* overflow: hidden; */
}
/* dịnh dạng toàn bộ */
.container {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  border:0;
} 
/*thanh quang ba*/
.header {
  background-image: linear-gradient(145deg,#94d2bd,#f1c0e8);
  font-size: 12px;
  width: 100%;
  transition: 0.3s;
  position: relative;
  text-align: center;
  padding: 10px 0 10px 0; /* giãn cách chữ trong khung*/
  color: #ffffff;
  
}
/* header2*/
.header_navbar1{
  display: flex;
  justify-content: left;
  height: 30px;  
  width: 45%;
  font-size: 13px;
  font-weight: 300;
  padding-left: 60px;
}
.header_navbar2{
  display: flex;
  justify-content: right;
  height: 30px;  
  width: 30%;
  padding-right: 10px;
  align-items: flex-start
}
.header_navbar2 h3{
  display:flex;
  width:100%;
}


/* ĐĂNG NHẬP ĐĂNG KÝ--------------- */
/* ĐĂNG NHẬP ĐĂNG KÝ--------------- */
/* ĐĂNG NHẬP ĐĂNG KÝ--------------- */
/* ĐĂNG NHẬP ĐĂNG KÝ--------------- */
/* ĐĂNG NHẬP ĐĂNG KÝ--------------- */
.header_navbar {
  display: flex;
  /* align-content:center; 
  background-color: #00F494;*/
  position: sticky;
  z-index: 100;
  height: 30px;  
  width: 100%;
  text-align: right;
  justify-content:space-between;
  /* padding-bottom:90px; */
  /* float:right; */
}
.header_navbar-list {
  list-style: none;
  padding-left: 3px;
  margin-top: 4px;
}
.header__navbar-icon-link{
  display:flex;
  align-items:center;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 13px; /* kích thước icon*/ 
  /* padding-right: 10px; giãn cách cái icon */
  color: black; /*màu chữ*/
  text-decoration: none;
  width: 100px;

  }
  .header__navbar-icon-link:hover{
  color: #023e8a; /* đổi màu khi input*/
  }

  .header_navbar-item {
    margin: 100px 8px;
    position: relative;   
  }   
  .header_navbar-item,
  .header_navbar-item-link {
   display: inline-block;
   font-size: 1.4rem;
   color: var(--white-color);
   text-decoration: none;
   font-weight: 300;
  }
  
  /*định dạng icon*/
  .fa-solid{ /*định dạng icon*/  
  color: black;
  font-size: 15px;
  padding: 5px; /* khoảng cách các icon*/
  /* margin-bottom:10px;  */
  }
  .fa{}
  .fa::before{
  content: "\f291";
  font-size: 15px; /*kích thước icon*/
  color: black;
  padding-right: 5px;
  }

/* FORM ĐĂNG NHẬP ---------------- */
/* FORM ĐĂNG NHẬP ---------------- */
/* FORM ĐĂNG NHẬP ---------------- */
/* FORM ĐĂNG NHẬP ---------------- */
/* FORM ĐĂNG NHẬP ---------------- */
.form{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color:rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 102;
}
.login-form,
.sign-up-form{
  width: 420px;
  padding: 20px 10px;
  background-color: white;
  box-shadow: 2px 2px 30px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
}
.login-form form,
.sign-up-form form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.login-form p,
.sign-up-form p{
  color:rgb(175, 174, 248);
  font-size: 2rem;
  margin: 2px 7px 7px 7px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.login-form input,
.sign-up-form input{
  width: 90%;
  height: 45px;
  margin: 6px 0px;
  padding: 0px 10px;
  border:1px solid rgba(0, 0, 0, 0);
  outline: none;
  /* border-radius: 7px;  */
  border-bottom: 2px solid;
}
.login-form input::placeholder,
.sign-up-form input::placeholder{
  color:rgba(0, 0, 0, 0.2);
}

.login-form input[type="submit"],
.sign-up-form input[type="submit"]{
  background-color: #009578;
  color: white;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-top: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  border-radius: 25px;
}
input[type="submit"]:hover{
  transition: .5s;
  box-shadow: 2px 2px 10px #009578;

}
.login-form input[type="password"],
.sign-up-form input[type="password"],
.sign-up-form input[type="text"],
.login-form input[type="email"],
.sign-up-form input[type="email"]{
  /* border-bottom: #3498db; */
  transform: scaleX(1);
  transition: all 0.3s ease-in-out;
}
input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover{
  border-bottom: 2px solid #3498db;
  box-shadow: 2px 2px 30px rgba(116, 114, 114, 0.1);
}
.login-form input[type="password"],
.sign-up-form input[type="password"]{
  /* border-bottom: #3498db; */
  transform: scaleX(1);
  transition: all 0.3s ease-in-out;
}

/* FORGET AND SIGN UP */
.form-btns{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.form-btns a{
  color:rgb(122, 122, 134);
  font-size: 0.9rem;
  text-decoration: none;
}
.sign-up-btn{
  /* border-bottom: 1px solid #D3D3D3; */
  line-height: 16px;
}
.forget{
  line-height: 16px;
}
.form-cancel{
  position: absolute;
  right: 20px;
  top: 10px;
  color:black;

}
.form-cancel:hover{
  color:#009578; /*mau dau cheos*/
  transition: all ease 0.3s;
}
/* FORM ĐĂNG KÝ ---------------- */
/* FORM ĐĂNG KÝ ---------------- */
/* FORM ĐĂNG KÝ ---------------- */
/* FORM ĐĂNG KÝ ---------------- */
/* FORM ĐĂNG KÝ ---------------- */
.login-form,
.sign-up-form,
.form{
  display: none;
}
.login-active,
.login-active .login-form{
  display: flex;
  animation: fade 0.3s;
}
.sign-up-active,
.sign-up-active .sign-up-form{
  display: flex;
  animation: fade 0.3s;
}
@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.ready:hover,
.sign-up-btn:hover,
.forget:hover{
 color:#000000;
}
.ready::after,
.sign-up-btn::after,
.forget::after{
  content: "";
  position: unset;
  display: flex;
  align-items: baseline;
  height: 1.5px;
  width: 100%;
  transform: scaleX(0);
  background-color: #f00;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
 }
 .ready:hover::after,
 .sign-up-btn:hover::after,
 .forget:hover::after{
  transform: scaleX(1); /*độ dài line*/
 }





/* QR CODE */
/* QR CODE */
/* QR CODE */
/* QR CODE */
/* QR CODE */
.qrcode{
  display:none;
  position:relative;
  display:flex;
  width: 70px;
  left: -30px;
  top: 0;
  padding: 8px;
  border-radius: 50px;
  /* background-color: #000000; */
}
.qrcode_img{
  height: 100%;
  width: 250%;
  display: none;
}
.qrcode-view:hover .qrcode_img{
  display: block;
}



/*LOGO TÊN SHOP*/
.logo-name {
  height: 80px; 
  font-size: 40px;
  width: 400px;
  /*left: calc(10% - 110px); vị trí icon
  top:115px;
  align-items: center;  
  background-color: #023e8a;*/
  float: left;  
}
.logo-name .logo{
  height :80px;
  width: 90px;
  margin-top: 0px;
}
.logo-name .name{
  /* font-size: 43px;
  font-family: Pacifico;*/
  vertical-align:20px; /*vị trí tên shop middle */
  font-size: 43px;
  font-family: Pacifico;
  background: -webkit-linear-gradient(70deg,#8338ec,#3a86ff, #ffc6ff); /* chuyển màu chữ*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* THÔNG BÁOOOOOOOOOOOOOOOOOOOOOOOOO */
.header__notify{
  /* position:absolute; */
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  z-index: 3000;
  top:100%;
  right:0;
  width:440px;
  height: 20px;
  /* background-color:rgb(187, 50, 50); */
  font-size: 1.5rem;
  border: 1px solid #D3D3D3;
  transform-origin: 90% top left ;/* hướng chuyển động*/
  animation: header__notifygrowth ease-in 0.25s;
  display: none;
  /* cursor: default; không bấm vào được */
}
.header__notify::before{
  content:"";
  border: 20px;
  border-style: solid;
  border-width: 20px 30px;
  border-style: solid;
  border-color: whitesmoke ; /* position:sticky ; */
  display:flex;
  margin-top: -24px; 
  margin-left: 35px;
  width: 5px;
  height: 0px; /* color:#ffadad; */
  border-left: 25px solid rgba(0, 0, 0, 0);
  border-right: 25px solid rgba(0, 0, 0, 0) ;
  border-top: 25px solid rgba(0, 0, 0, 0) ;
  border-bottom: 25px solid #555 transparent;
}
@keyframes header__notifygrowth{
    from{
      opacity: 0;
      transform: scale(0);
    }
    to{
      opacity: 1;
      transform: scale(1)
    }
}
.header__notify-header{
  height:40px;
  background-color: whitesmoke;
  display: flex;
}
.header__notify-header p{
  color:#f1c0e8;
  margin: 0px 0 0 3px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 40px;
  user-select: none;
}
.header__notify-list{
    padding-left:0;
    /* background-color:#94d2bd; */
    width: 440px;
}
.header__notify-item{
  display: flex;
  padding:6px;
}
.header__notify-item--has:hover .header__notify{
  display: block;
}
.header__notify-item:hover{
  background-color: #e5e5e5;
}
.header__notify-item--view{
  background-color: #fbf8cc;
}
.header__notify-link{
  display: flex;
  text-decoration: none;
  
}
.header__notify-img{
  width: 48px;
  object-fit: contain;
  
}
.header__notify-info{
  margin-left: 12px;

}
.header__notify-name{
  display: flex;
  font-size: 1.4rem;
  color: var(--text--color);
  font-weight: 400;
  line-height: 1.8rem;
}
.header__notify-descrip{
  display: block;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color:rgb(122, 122, 134);
}
.header__notify-footer{
  display:flex;
  font-size: 19px;
  background-color:whitesmoke;
  text-align:center;
  justify-content: center;
}
.header__notify-footer-btn{
  text-decoration: none;
  color: var(--text-color);
  padding: 5px 48px;
  margin: auto;
  font-weight: 400;
}
@media screen and (max-width: 500px) {
  .header_navbar1 p{
    
    width: 100px;
  }
  .header_navbar2 p{
    display: none;
  }
}




/*THANH MENU NGANG*/
nav{
  position: sticky;
  top: 0;
  display:block;
  z-index: 99;
  width: 100%;
  float:left;
  background: #ffffff;
  opacity: 0.9;
  border-top: 1px solid black;
}
nav .wrapper{
  position: relative;
  max-width: 100%;
  padding: 0px 10px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content:space-around;
  /* opacity: 0.9; */
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background:#ffadad;
  color:rgb(255, 255, 255);
  /* background: -webkit-linear-gradient(70deg,#8338ec,#3a86ff, #ffc6ff); chuyển màu chữ */

}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  margin-left: -40px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 0px;
  font-weight: 400;
  border-radius: 0px;
  text-align: center;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 0px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #242526;
  padding: 25px 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(65% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 260px;
  height: 100%;
  object-fit: cover;
  padding-left: 50px;
  }
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
  padding-left: 40px;
}
.content .row .mega-links{
  margin-left: 0px;
  margin-right: 20px; /* khung hover*/
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 3px 100px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
  text-align: center;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: rgb(175, 174, 248); /*màu dấu chéo*/
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}
/* THANH CÔNG CỤ SMALL SCREEN */
@media screen and (max-width: 1150px) {
  .searching .searchbox{
    display:none;
  }
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar*/ 
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{ /*khung đen*/
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
  }
  .nav-links .mobile-item:hover{
    background: #f3a7a7;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}




/* THANH TÌM KIẾM*/ 
.searching {
  width: 20vw;
  height: 70px;
  /*display: flex;
  position:absolute;
  left: calc(40% - 120px); vị trí icon
  background-color: #0e69e0;*/
  float:left;
  align-items: center;
  justify-content: center;
  }
.searchbox {
  position: relative;
  display: block;
  width: 100%;
  max-width: 36px;
  transition: 0.4s linear;
  overflow: hidden; 
  margin-top: 15px;
}
.searchbox__input {
  display: block;
  appearance: none;
  width: 90%; /* độ rộng khi input!!!!!!!!!!!!!*/
  height: 13px;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #24233A;
  padding: 18px;
  color: #24233A;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s linear;
  box-sizing: border-box;
}
.searchbox__input::placeholder {
  color: #24233A;
}
.searchbox__icon {
  position: absolute;
  right: calc(35px / 2);
  top: 50%;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.searchbox__icon path {
  fill: #ffeb36;
  transition: 0.4s linear;
}
.searchbox:focus-within {
  max-width: 300px;
}
.searchbox:focus-within .searchbox__input {
  background-color:#fbf8cc;
  padding-right: 20px;
  /*box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);*/
}
.searchbox:focus-within .searchbox__icon path {
  fill: #24233A;
}






 /*ANIMATION IMAGES*/
 .slider{
  width: 1000px;
  height: 500px;
  /* border-radius: 10px; */
  overflow: hidden;
  margin-left: 100px; /*cách lề trang bên trái  */
  margin-right:100px;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 1000px;
  height: 500px;
}
.slide video{
  width: 1400px;
  height: 500px;
  margin-left: -220px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  margin-left: 90px;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}
#radio5:checked ~ .first{
  margin-left: -80%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
  margin-left: 90px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
  background: #40D3DC;
}













/* SẢN PHẨM BÁN CHẠY */
  .title{
  padding-bottom: 25px;
  font-family:'Kanit', sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}
hr{
  background: #3a86ff;
  width: 30%;
  margin-left: 5%;
}
  
  .section{
    padding: 60px 0;
    background-color:#40D3DC;
    margin-left: 40px;
    margin-right: 40px;
  }
  .section-header{}
  .row {
    display:flex;
    flex-wrap:wrap; /* Xếp hình hàng ngang*/
    margin: 0 0px;
    padding-top:20px;
    width:100%;
    justify-content: space-around;
    }
  .row-revere {flex-direction: row-reverse;}
  .row_list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding: 13px;
  } 
  .product-card{
    background-color: var(--main-bg-color);
    transition: all .3s ease-in-out;
    /* width: fit-content; */
  }
  .product-card:hover{
    background-color: var(--second-bg-color);
  }
  .product-card-img{
    height: 300px;
    width: fit-content;
    overflow: hidden;
    display: flex;
    align-items:  center;
    justify-content: center;
  }
  .product-card-img img{
    max-height: 100%;
    transition: all .3s ease-in-out;
  }
  /* .product-card-img img:nth-child(1){
    opacity: 1;
    visibility: visible;
  } */
  .product-card-img img:nth-child(2){
    /* visibility: hidden;
    opacity: 0; */
    display: none;
  }
  .product-card:hover .product-card-img img:nth-child(1){
    display: none;
  }
  .product-card:hover .product-card-img img:nth-child(2){
    display: block;
  }



  .product-card-info{
    padding: 20px;
    text-align:center;
    position:relative;
  }
  .product-card-name{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .product-card-price{
    font-size: 15px;
  }
  .product-card-price .curr-price{
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
    color: var(--red);
  }
.product-btn{
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
  }
  .product-star{
  padding-bottom:3px;
  margin:0;
  flex-wrap: wrap;
  text-align: top;
}
  .btn-flat {
    display: inline-block;
    border: 2px solid var(--btn-border-color);
    background-color: var(--btn-bg);
    color: var(--btn-color);
    padding: 15px 35px;
    font-size: 15px;
    outline: 0;
    font-weight: 600;
    text-transform: uppercase;
}
.btn-cart-add {
  font-size: 15px;
  padding: 15px 10px;
  line-height: 17px;
}

.btn-hover {
    transition: all 0.3s ease-in-out;
}

.btn-hover:hover {
    background-color: black;
    color: whitesmoke;
}

  .product-card:hover .product-btn{
    opacity:1 ;
    visibility: visible;
    transform: translateY(0);
  }
  .product-btn> *~*{  margin-left: 5px;}
  .btn-shop-now, .btn-card-add{
    font-size: 15px;
    padding: 5px 10px;
    line-height: 17px;
  }
.product-card-img .off-info .sm-title{
    background: green;
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: relative;
    top: -90px;
    /* left: 0px; */
    right: 240px;
    /* bottom:400; */
    writing-mode: vertical-lr; /*xoay khung chữ*/
    transform: rotate(180deg); /*xoay chữ*/
    /* z-index: 1; */
    letter-spacing: 3px; /*giãn cách cái chữ cái*/
    /* cursor: pointer; */
    /* width: 30px;
    height: 120px; */
}








/* NỔI BẬT (HÌNH ẢNH + KHUNG MUA */
.allfamous{
  padding:0;
  justify-content: center;
  text-align: center;
  display:flex;
  padding-top:60px 0;
  font-family: sans-serif;
  background-color: #ffadad;
}
.allfamous .header-text{
  font-size:14px;
  text-transform:uppercase;
  letter-spacing:3px;
  margin-top: 10px;
  margin-bottom:60px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* float: left; */
}
.famous {
  position: relative;
  width: 900px;
  flex-wrap: wrap;
  display: flex;
  float: left;
  padding:0;
}


.famous img {
  display: block;
  width: 100%;
  height: 100%;
  left:0;
}

.famous__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.famous__overlay--blur {
  backdrop-filter: blur(5px);
}

.famous__overlay--primary {
  background: #009578;
  /* opacity:0.3; */
}

.famous__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.famous__overlay:hover {
  opacity: 0.75;
}

.famous__overlay:hover > * {
  transform: translateY(0);
}

.famous__title {
  font-size: 2em;
  font-weight: bold;
}

.famous__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}
.boxbox{
  /* margin-top:50px; */

}
.btn6{
  border:1px solid transparent; 
   -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  padding: 15px 100px;
  margin:10px 4px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  transform: translateY(20px);
}

.btn6::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #6098FF;
  box-shadow: inset 0px 0px 0px #6098FF;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.btn6:hover::before {
  width:100%;
}

.btn6::after {
  content: '';
  position: absolute;
  right: 0px;
  top:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #6098FF;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}
.btn6:hover::after {
  width:100%;
}
.btn6:hover{
  border-left:1px solid #6098FF;
  border-right:1px solid #6098FF;
}

/* NỔI BẬT (CHỮ) */
/* NỔI BẬT (CHỮ) */
/* NỔI BẬT (CHỮ) */
/* NỔI BẬT (CHỮ) */
/* NỔI BẬT (CHỮ) */
.link-text{
  text-decoration: none;
  font-weight: 600;
  color: Orgb(83, 83, 83);
  position: relative;
  display: block;
  padding: 5px 0px;
}
.link-text::after{
 content: "";
 position: absolute;
 height: 3px;
 width: 100%;
 transform: scaleX(0);
 background-color: #f00;
 bottom: 0;
 left: 0;
 transition: all 0.3s ease-in-out;
}
.link-text:hover{
  color:cadetblue;
}	
.link-text:hover::after{
 transform: scaleX(2); /*độ dài line*/
}















/* LIÊN HỆ*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.content1{
  position: relative;
  margin: 150px auto;
  text-align: left;
  padding: 0 20px;
  
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content1 p{
  font-size: 1.0625rem;
  font-weight: 600;
  color: #fff;
  line-height: 25px;
}
footer{
  position:relative;
  bottom: 1px;
  width: 100%;
  background: rgb(46, 46, 46);
  /* background-image: url('../images/footer.jpg'); */
  background-size: 500%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-content{
  display: flex;
  position:relative;
  bottom: 1px;
  width: 100%;
  background: rgb(46, 46, 46);
  /* background-image: url('../images/footer.jpg'); */
  background-size: 500%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bottom{
  position:relative;
  float:left;
  bottom: 1px;
  width: 100%;
  background: rgb(46, 46, 46);
  /* background-size: 500%; */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-content .box{
  flex-basis: 50%;
  padding: 20px 10px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white; /* màu chữ tiêu đề*/
  margin-left: 20px;
  
}
.box .content1{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content1:before{
  position: fixed;
  content: '';
  top: -20px;
  height: 20px;
  width: 100%;
  background: #1a1a1a;
}
.box .content1:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: -webkit-linear-gradient(90deg,#8338ec,#3a86ff, #ffc6ff);
  top: 0px; /* gạch ngang*/
  left: 24px;
}
.left .content1 p{
  text-align:justify;
  padding-top:20px;
}
.left .content1 .social{
  margin: 20px 0 0 0;
}
.left .content1 .social a{
  padding: 0 2px;
}
.left .content1 .social a span{
  height: 40px;
  width: 40px;
  background: -webkit-linear-gradient(100deg,#3a86ff, #ffc6ff);
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
  color:rgb(255, 255, 255);
}
.left .content1 .social a span:hover{
  background: #ffffff; /* icon fb ins ytb*/
  color:rgb(0, 0, 0);
}
.place{
  padding-top: 20px;
}
.center .content1 .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}
.center .content1 .fas:hover{
  background: -webkit-linear-gradient(100deg,#3a86ff, #ffc6ff);
  /* email , location , phone*/
}
.center .content1 .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content1 .phone{
  margin: 15px 0;
}
.right .email{
  padding-top: 20px;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #fffafa;
  padding:0;
}
.right form .msg{
  margin-top: 10px;
}
.right .msg textarea{
  padding-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  color:rgb(255, 255, 255); /* màu chữ trong khung*/
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  /* background: #cfbaf0; */
  background: -webkit-linear-gradient(10deg,#8338ec,#3a86ff);
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  color: white;
}
.right form .btn button:hover{
  background: rgb(255, 255, 255);
  color: black;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #ffffff;
}
.bottom center a{
  color: #ffc6ff;
  
}
.bottom center a:hover{
  text-decoration: underline;
}
/* LIÊN HE SMALL SCREEN */
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
/* CSS CHO TRANG SẢN PHẨM */
.hero{
  width: 100%;
}
.rown{
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: left;
  padding-left:90px;
}
.column{
  flex-basis: 45%;
}
.sliderr{
  height: 80vh;
  display: flex;
}
.product img{
  height: 19vh;
  margin-bottom: 9px;
  cursor: pointer;
  margin-left: 5%;
}
.preview img{
  border: 1px solid black;
  margin-left: 12px;
  height: 104%;
}
.phai{
  float: left;
  margin-left: 55%;
  margin-top: -41%;
  border: 1px dashed black;
  width: 40%;
  height: 90%;
}
.phai h2{
  margin-left: 5%;
}
.product-card-price h3{
  margin-left: 5%;
}
.phai h3{
  margin-left: 5%;
  font-weight: normal;
}
.phai h4{
  margin-left: 6%;
  font-weight: normal;
}
.phai hr{
  width: 50%;
  color: #00ffe5;
}
.roww{
  margin-left: 5%;
  font-weight: 500;
  cursor: pointer;
}
.pink{
  color: pink;
  background-color: pink;
  margin-left: 7%;
}
.yellow{
  color: yellow;
  background-color: yellow;
}
.size{
  display: flex;
  margin: auto;
}
.psize{
  width: 8%;
  height: 8%;
  margin: 0 10px;
  text-align: center;
  border: 1px solid #ff5e00;
  color: #000;
  cursor: pointer;
}
.psize.active{
  border-width: 1%;
  color: #ff5e00;
  font-weight: 500;
}
.psize:hover{
  color: rgb(255, 255, 255);
  background-color: #000000;
}
.quantily{
  margin-left: 5%;
  display: flex;
}
.quantily p{
  font-size: 18px;
  font-weight: 500;
}
.quantily input{
  width: 10%;
  font-size: 16px;
  text-align: center;
  margin-left: 5%;
}
.product-card-price h3{
  font-size: 18px;
}
.btn-box{
  display: flex;
  margin: 5%;
}
.btn-box button{
  font-size: 17px;
  padding: 7px 24px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}
.cart-btn{
  background-color: #bde0fe;
  margin-right: 10px;
}
.cart-btn:hover{
  background-color: #000000;
  color:white;
}
.buy-btn{
  background-color: #a2d2ff;
}
.buy-btn:hover{
  background-color: #000000;
  color:white;
}
@media screen and (max-width: 500px)
{
  .phai, .buy-btn, 
  .cart-btn, .btn-box, 
  .product-card-price, .quantily, 
  .psize, .size, .roww{
    float: none;
    width: 100%;
    background-color: lightblue;
  }
}
/* SCROLLBAR */ 
::-webkit-scrollbar {
  width: 7px;
}
 
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #7d7d7d; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb:hover {
  background: black;
}